html > body {
  margin: 0;
  background-color: #f4f4f4;
}

#layout-banner-box {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 90px;
  background-color: #6e91bd;
  white-space: nowrap;
}

#layout-menu-box {
  position: absolute;
  float: left;
  left: 0px;
  top: 95px;
  width: 215px;
  height: 100%;
}

#layout-content-box {
  margin-left: 215px;
  background-color: white;
  border-left: 3px solid #eeeeee;
}

h1 {
  margin-top: 0.5em;
}

#layout-banner {
  text-align: left;
  vertical-align: top;
  margin-top: 5px;
  padding: 0 30px;
}

#layout-banner div {
  display: inline;
}

#layout-banner a:link, #layout-banner a:visited,
#layout-banner a:active, #layout-banner a:hover {
  color: white;
  text-decoration: none;
}


#layout-title {
  margin: 0;
  margin-top: 18px;
  border-style: none;
}

#layout-description {
  margin: 0;
  margin-left: 50px;
  margin-top: 35px;
  vertical-align: top;
}

#layout-menu {
  height: auto;
}

#layout-menu > ul {
  padding-top: 0.8em;
  padding-left: 10px;
  padding-right: 0.8em;
  font-size: 0.9em;
  font-family: sans-serif;
  font-weight: bold;
  list-style-type: none;
}

#layout-menu > ul > ul {
  margin-left: 0px;
  padding-left: 1.5em;
  list-style-type: none;
}

#layout-menu a {
  line-height: 2em;
  margin-left: 0.5em;
}

#layout-menu a:link, #layout-menu a:visited, #layout-menu a:hover {
  color: #527bbd;
  text-decoration: none;
}

#layout-menu a:hover {
  color: navy;
  text-decoration: none;
}

#layout-sf {
  padding-left: 10px;
  position: absolute;
  bottom: 100px;
  font-size: 0.9em;
  width: 215px;
}

#layout-menu-box #layout-sf a img{
  border-style: none;
}

#layout-menu a.current_page {
  color: navy;
}

#layout-content {
  padding-top: 0.2em;
  padding-left: 1.0em;
  padding-right: 0.4em;
}

@media print {
  #layout-menu-box { display: none; }
  #layout-content-box { margin-top: 0; margin-left: 0; }
}
